*{
	margin : 0;
	padding : 0;
	box-sizing: border-box;

}
header{
	display : flex;
	justify-content: space-around;
    align-items: flex-end;
	font-size : 30px;
	margin-bottom : 80px;
}
body{
	background-color:rgba(0,0,255,0.2);
	border : 10px solid navy;
}
.image{
	border : 2px solid navy;
	border-radius : 50%;
	height : 300px;
	width : 250px;
	background-image : url("image.png");
	background-size : cover;
}
.heading3{
	text-align : right;
	/* align-self : flex-end; */
}
.para{
	font-size : 30px;
}
.biography{
	font-size : 30px;
}
ul {
	padding-left: 40px; /* or any value that works visually */
	list-style-type: disc; /* ensures bullets are shown */
	text-align: justify;
}
.foot{
	text-align : right;
	font-size : 20px;
}
p{
	text-align: justify;
}